<link rel="stylesheet" type="text/css" href="views.css" />
<div class="psychbg">
    <div class="navbar">
        <h1>Your an moron</h1>
    </div>
    <div class="content">
        <marquee truespeed scrolldelay=10 behavior="alternate" style="font-size: 7em">obama</marquee>
        <marquee truespeed scrolldelay=5 style="color:darkslategrey">obamoid</marquee>
        <marquee truespeed scrolldelay=8 direction="right" style="font-size: 5em">obame</marquee>
        <marquee truespeed scrolldelay=5 scrollamount=20 style="color:darkgoldenrod">fastbama</marquee>
    </div>
</div>