<link rel="stylesheet" type="text/css" href="./views.css" />
<div class="page-col tiled-obama-bg">
    <div class="navbar">
        <h1 class="title">welcome 2 obama69.com</h1>
        <div class="right">
            <button type="button" class="sidebutton" onclick="window.location.href='{{loginRoute}}';">log in</button>
            <button type="button" class="sidebutton" onclick="window.location.href='{{registerRoute}}';">registre</button>
        </div>
    </div>
    <marquee class="banner-marquee" scrolldelay="20" truespeed>hello and welcome to obama69.com</marquee>
    <div class="landing">
        <article>
            <h2>why choose obame?</h2>
            <p>we have many other presidente to choose from. for example: tromp, bidean, and kanye. what is it about barac husein obame ii that makes him worth the truble?</p>
            <ol>
                <li>does not give up on u</li>
                <li>will not betrey u</li>
                <li>soft hands 2 hold when ur stressed</li>
                <li>great leader, if u need a man in ur life u should consider obamr</li>
                <li>can grow new fingers if he loses any</li>
                <li>has an superpower</li>
                <li>believes in Jesus Christ</li>
                <li>has a beautiful wife, if obami is not gud enough man for u, u can always try michel</li>
                <li>handsom suit</li>
                <li>he cares for u whenever u need it, with his top of the line obamacare</li>
                <li>has pyramids named after him (obamids)</li>
                <li>eyes can change colors when u press a button</li>
            </ol>
            <p>what r u waiting for? register <strong>NOW</strong> and choose obame <strong>TODAY.</strong> there are too many benefits to ignore</p>
        </article>
    </div>
</div>