<div class="page">
    <div class="action-box">
        <marquee scrollamount=20>congratulations! you have won $1000! claim now by logging in</marquee>
        <h2>Log in to your account</h2>
        <form name="login" method="POST" id="login-form" class="standard-form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />

            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <button type="submit" name="login" class="submit-button">Submit</button>
        </form>
        <marquee style="color: orange;" scrollamount=10>congratulations! you have won $1000! claim now by logging in</marquee>
    </div>
</div>