<script>
    document.body.onload = onPageLoaded;

    function onPageLoaded() {
        alert("ALERT: you have cancer! click to fix");
    }
</script>
<link rel="stylesheet" type="text/css" href="./views.css" />
<div class="page-row centered silver-gradient">
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/548/016/cc1.gif" />
    <div class="action-box">
        <marquee scrollamount=20>congratulations! you have won $1000! claim now by logging in</marquee>
        <h2>Log in to your account</h2>
        <form name="login" method="POST" id="login-form" class="standard-form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />

            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <button type="submit" name="login" class="submit-button">Claim NOW!!</button>
        </form>
        <marquee style="color: orange;" scrollamount=10>congratulations! you have won $1000! claim now by logging in</marquee>
    </div>
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/548/016/cc1.gif" />
</div>