<link rel="stylesheet" type="text/css" href="./views.css" />
<div class="page-col centered annoying-gradient">
    <marquee class="top-absolute bigtext rainbow-spam-text" truespeed scrolldelay=20>welcome newest member to obama69</marquee>
    <h1 class="blinking bigtext">CONGRATULATIONS on making a account!</h1>
    <p class="bigtext">pleas <a href="{{loginEndpoint}}">log in</a> to ur NEW account</p>
    <marquee class="bottom-absolute bigtext obama-spam-text" truespeed scrolldelay=15 direction=right>congrats</marquee>
</div>